extends layout

block body
	section.container
		section.row
			article.col-md-8
			
				h1 ރައީސް މައުމޫން އަވަހާރަވެއްޖެ
				span.circle
				span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
				//	
					ul.article-quick-updates.list-unstyled
						li
							span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
						li
							span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
						li
							span މިއީ މިހާރު ހިނގަމުންދާ ކަމެއް
				p ގަވާއިދާ ހިލާފަށް ރާއްޖެ އަށް އެތެރެކޮށް ގެންގުޅެމުން ދިޔަ ޖަނަވާރުތައް ހޯދުމަށް ފުލުހުން ހިންގި ހާއްސަ އޮޕަރޭޝަންގައި، ފުލުހުންގެ ބެލުމުގެ ދަށަށް ގެންދިޔަ ބަކަމޫނު އަނބުރާ ހޯދުމަށް އޭގެ ވެރި ފަރާތުން ކޯޓަށް ދާން ނިންމައިފި އެވެ.
				p އެ ދޫނީގެ ވެރި ފަރާތް އަޒީމް މުހައްމަދު މިރޭ "ހަވީރަ"ށް ބުނީ، އެއީ ގދ. ކެރަމިއްތާ ކިޔާ ފަޅުރަށަކުން އޭނާ ހިފި އެއްޗެއް ކަމަށެވެ. އަޒީމް ބުނީ އެއީ މީގެ ގާތްގަނޑަކަށް ދެ އަހަރު ކުރި ކަމަށާއި އެ ދޫނި ގެންގުޅޭތީ، މިހާތަނަށް މީހަކު ބިރުން ވެސް މައްސަލަ ނުޖައްސާ ކަމަށެވެ. މިހާރު ހުޅުމާލޭގައި އާއިލާއާ އެކު ދިރިއުޅެމުން އަންނަ އަޒީމް ބުނީ "ޖޯނީ" ގެ ނަން ދީގެން، އޭނާ ޕެޓެއްގެ ގޮތުގައި ގެންގުޅޭ ބަކަމޫނަކީ އޭނާގެ އާއިލާގެ މެންބަރެއް ކަމަށެވެ. 
				h2 ފުލުހުން އަތުލައިގަތް ބަކަމޫނު
				img.img-responsive.full-scale(src="http://f1.haveeru.com.mv/photos/2011/09/0_1315221592untitled11_news.jpg")
				p އަޒީމް ބުނި ގޮތުގައި މިދިޔަ ހޮނިހިރު ދުވަހު، ފުލުހުން ގޮސް "ޖޯނީ" ގެންދިޔައީ، އޭނާ މާލެ އައިސް އުޅެނިކޮށެވެ. އަދި އަޒީމަށް ހުޅުމާލެ އަށް ދެވެންދެން، އެ ދޫނި ނުގެން ދިއުމަށް އެދުނު ނަމަވެސް، އޭނާ ގެއަށް ދިޔައިރު "ޖޯނީ" ވަނީ ފުލުހުން ގެންގޮސްފައި ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އަޒީމް ބުނި ގޮތުގައި ފުލުހުން ކޯޓު އަމުރެއްގެ ދަށުން އެއްޗިހި ގެންދަން ޖެހޭނީ، އެ އެއްޗެއްގެ ވެރިފަރާތުގެ ހާޒިރުގަ އެވެ. ނަމަވެސް އެ އަމުރާ ހިލާފަށް ފުލުހުން އަމަލުކޮށްފައި ވާތީ، އެ މައްސަލަ ކްރިމިނަލް ކޯޓަށާއި ޕޮލިސް އިންޓެގްރިޓީ ކޮމިޝަނަށް މިހާރު ހުށަހަޅާފައިވާނެ ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އެ މައްސަލަ ކްރިމިނަލް ކޯޓުން ބަލައިގަތް ކަމެއް އަދި ނޭނގެ އެވެ.
				p "ޖޯނީ އަކީ އަހަރުމެންގެ އާއިލީ މެންބަރެއް. ގޭގެ އެންމެންނާ ވެސް ވަރަށް ރަށްޓެހިކޮށް އުޅޭނީ. އަޅުގަނޑު ވަރަށް ބޮޑު ހަރަދެއް ކޮށްގެން ގެންގުޅޭ އެއްޗެއް މިއީ. އަވަށްޓެރި މީހުން ވެސް އައިސް ވަރަށް މަޖާކޮށް ހަދާނެ ޖޯނީއާ އެއްކޮށް. މިއީ ނުރައްކާ އެއްޗެއް ނޫން. ދަތް އަޅާ އެއްޗެއް ނޫން. ޖޯނީ ހޯދަން ކޮންމެ މަސައްކަތެއް ވެސް އަޅުގަނޑު ކުރާނަން،" އަޒީމް ބުންޏެވެ. 
				h2 : އެ ދޫނި ހޯދުމަށް ވެރިފަރާތުން އަންނަނީ ވަރަށް ބޮޑަށް މަސައްކަތް ކުރަމުން.-- ހަވީރު ފޮޓޯ: މުހައްމަދު ޝަރުހާން
				img.img-responsive.full-scale(src="http://f1.haveeru.com.mv/photos/2014/04/0_1397304483140412162537_54_news.jpg")
				section.row
					section.col-md-12
						h3 މި ލިޔުމާ ގުޅޭ ޚިޔާލުތައް
						section.comment-item
							table.comment-head
								tbody
									tr
										td
											img.comment-user-img(src="https://graph.facebook.com/iulogy/picture").img-circle
										td
											span &nbsp;/ 
											span.comment-user-name Ismail Ali Waheed
							section.comment-body
								p އަޒީމް ބުނި ގޮތުގައި މިދިޔަ ހޮނިހިރު ދުވަހު، ފުލުހުން ގޮސް "ޖޯނީ" ގެންދިޔައީ، އޭނާ މާލެ އައިސް އުޅެނިކޮށެވެ. އަދި އަޒީމަށް ހުޅުމާލެ އަށް ދެވެންދެން، އެ ދޫނި ނުގެން ދިއުމަށް އެދުނު ނަމަވެސް، އޭނާ ގެއަށް ދިޔައިރު "ޖޯނީ" ވަނީ ފުލުހުން ގެންގޮސްފައި ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އަޒީމް ބުނި ގޮތުގައި ފުލުހުން ކޯޓު އަމުރެއްގެ ދަށުން އެއްޗިހި ގެންދަން ޖެހޭނީ، އެ އެއްޗެއްގެ ވެރިފަރާތުގެ ހާޒިރުގަ އެވެ. ނަމަވެސް އެ އަމުރާ ހިލާފަށް ފުލުހުން އަމަލުކޮށްފައި ވާތީ، އެ މައްސަލަ ކްރިމިނަލް ކޯޓަށާއި ޕޮލިސް އިންޓެގްރިޓީ ކޮމިޝަނަށް މިހާރު ހުށަހަޅާފައިވާނެ ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އެ މައްސަލަ ކްރިމިނަލް ކޯޓުން ބަލައިގަތް ކަމެއް އަދި ނޭނގެ އެވެ.
							section.comment-item.sub-comment
								table.comment-head
									tbody
										tr
											td
												img.comment-user-img(src="https://graph.facebook.com/sof.van.7/picture").img-circle
											td
												span &nbsp;/ 
												span.comment-user-name Ismail Sofwan
								section.comment-body
									p އަޒީމް ބުނި ގޮތުގައި މިދިޔަ ހޮނިހިރު ދުވަހު، ފުލުހުން ގޮސް "ޖޯނީ" ގެންދިޔައީ، އޭނާ މާލެ އައިސް އުޅެނިކޮށެވެ. އަދި އަޒީމަށް ހުޅުމާލެ އަށް ދެވެންދެން، އެ ދޫނި ނުގެން ދިއުމަށް އެދުނު ނަމަވެސް، އޭނާ ގެއަށް ދިޔައިރު "ޖޯނީ" ވަނީ ފުލުހުން ގެންގޮސްފައި ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އަޒީމް ބުނި ގޮތުގައި ފުލުހުން ކޯޓު އަމުރެއްގެ ދަށުން އެއްޗިހި ގެންދަން ޖެހޭނީ، އެ އެއްޗެއްގެ ވެރިފަރާތުގެ ހާޒިރުގަ އެވެ. ނަމަވެސް އެ އަމުރާ ހިލާފަށް ފުލުހުން އަމަލުކޮށްފައި ވާތީ، އެ މައްސަލަ ކްރިމިނަލް ކޯޓަށާއި ޕޮލިސް އިންޓެގްރިޓީ ކޮމިޝަނަށް މިހާރު ހުށަހަޅާފައިވާނެ ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އެ މައްސަލަ ކްރިމިނަލް ކޯޓުން ބަލައިގަތް ކަމެއް އަދި ނޭނގެ އެވެ.
							section.comment-item.sub-comment
								table.comment-head
									tbody
										tr
											td
												img.comment-user-img(src="https://graph.facebook.com/sof.van.7/picture").img-circle
											td
												span &nbsp;/ 
												span.comment-user-name Ismail Sofwan
								section.comment-body.en
									p About 100 heavily armed men, some in balaclavas and wearing military fatigues, rode on top of the seized armoured vehicles, the first of which was flying a Russian tricolour. Several hundred locals gathered around the convoy cheering, tooting their car horns and waving in support as it rolled past Kramatorsk's railway station, not far from the airfield where Ukrainian soldiers clashed with separatists on Tuesday.
						section.comment-item
							table.comment-head
								tbody
									tr
										td
											img.comment-user-img(src="https://graph.facebook.com/naifa.saeed/picture").img-circle
										td
											span &nbsp;/ 
											span.comment-user-name Ismail Ali Waheed
							section.comment-body
								p އަޒީމް ބުނި ގޮތުގައި މިދިޔަ ހޮނިހިރު ދުވަހު، ފުލުހުން ގޮސް "ޖޯނީ" ގެންދިޔައީ، އޭނާ މާލެ އައިސް އުޅެނިކޮށެވެ. އަދި އަޒީމަށް ހުޅުމާލެ އަށް ދެވެންދެން، އެ ދޫނި ނުގެން ދިއުމަށް އެދުނު ނަމަވެސް، އޭނާ ގެއަށް ދިޔައިރު "ޖޯނީ" ވަނީ ފުލުހުން ގެންގޮސްފައި ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އަޒީމް ބުނި ގޮތުގައި ފުލުހުން ކޯޓު އަމުރެއްގެ ދަށުން އެއްޗިހި ގެންދަން ޖެހޭނީ، އެ އެއްޗެއްގެ ވެރިފަރާތުގެ ހާޒިރުގަ އެވެ. ނަމަވެސް އެ އަމުރާ ހިލާފަށް ފުލުހުން އަމަލުކޮށްފައި ވާތީ، އެ މައްސަލަ ކްރިމިނަލް ކޯޓަށާއި ޕޮލިސް އިންޓެގްރިޓީ ކޮމިޝަނަށް މިހާރު ހުށަހަޅާފައިވާނެ ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އެ މައްސަލަ ކްރިމިނަލް ކޯޓުން ބަލައިގަތް ކަމެއް އަދި ނޭނގެ އެވެ.
						section.comment-item
							table.comment-head
								tbody
									tr
										td
											img.comment-user-img(src="https://graph.facebook.com/sof.van.7/picture").img-circle
										td
											span &nbsp;/ 
											span.comment-user-name Ismail Sofwan
							section.comment-body
								p އަޒީމް ބުނި ގޮތުގައި މިދިޔަ ހޮނިހިރު ދުވަހު، ފުލުހުން ގޮސް "ޖޯނީ" ގެންދިޔައީ، އޭނާ މާލެ އައިސް އުޅެނިކޮށެވެ. އަދި އަޒީމަށް ހުޅުމާލެ އަށް ދެވެންދެން، އެ ދޫނި ނުގެން ދިއުމަށް އެދުނު ނަމަވެސް، އޭނާ ގެއަށް ދިޔައިރު "ޖޯނީ" ވަނީ ފުލުހުން ގެންގޮސްފައި ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އަޒީމް ބުނި ގޮތުގައި ފުލުހުން ކޯޓު އަމުރެއްގެ ދަށުން އެއްޗިހި ގެންދަން ޖެހޭނީ، އެ އެއްޗެއްގެ ވެރިފަރާތުގެ ހާޒިރުގަ އެވެ. ނަމަވެސް އެ އަމުރާ ހިލާފަށް ފުލުހުން އަމަލުކޮށްފައި ވާތީ، އެ މައްސަލަ ކްރިމިނަލް ކޯޓަށާއި ޕޮލިސް އިންޓެގްރިޓީ ކޮމިޝަނަށް މިހާރު ހުށަހަޅާފައިވާނެ ކަމަށް ވެސް އޭނާ ބުންޏެވެ. އެ މައްސަލަ ކްރިމިނަލް ކޯޓުން ބަލައިގަތް ކަމެއް އަދި ނޭނގެ އެވެ.
									
						section.comment-item
							table.comment-head
								tbody
									tr
										td
											img.comment-user-img(src="https://graph.facebook.com/sof.van.7/picture").img-circle
										td
											span &nbsp;/ 
											span.comment-user-name Ismail Sofwan
							section.comment-body.en
								p Mr. Grcic looked surprised. The chair, called Rival, was designed for the gender-neutral territory of the home office. It has neat proportions to fit into modestly sized spaces. And because it is a task chair, it swivels.
								p About 100 heavily armed men, some in balaclavas and wearing military fatigues, rode on top of the seized armoured vehicles, the first of which was flying a Russian tricolour. Several hundred locals gathered around the convoy cheering, tooting their car horns and waving in support as it rolled past Kramatorsk's railway station, not far from the airfield where Ukrainian soldiers clashed with separatists on Tuesday.
			section.col-md-4
				section.advertisement.ad-1
					div.adcapt އިސްތިހާރު
