doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title News
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/templates.js')
		script(src='/js/secret.js')
		//script setTimeout(function(){window.location = window.location},1000);
	body
		header
			section.container
				section.row
					section.col-md-5
						h1 Object Browser 

						ul.menu.list-inline.list-unstyled
							li
								a(href="#", data-object="news").load-object Maldives News
							li
								a(href="#", data-object="worldnews").load-object World News
							li
								a(href="#", data-object="madaveli").load-object Madaveli
							li
								a(href="#", data-object="majlis").load-object Majlis

		block body
