extends secret-layout

block body
	section.row#content
		section.col-md-3#sub-menu
			h3 Articles
			ul.list-unstyled
				li
					a(href='') Write a new article
				li
					a(href='') My articles
				li
					a(href='') Articles to be published (1)
			h3 Comments
			ul.list-unstyled
				li
					a(href='') Comments to approve
				li
					a(href='') Flagged comments
		section.col-md-6
			section#article-sections
			section#toolbar
				section.btn-group
					button(type='button', data-type='paragraph-dv').btn.btn-primary Paragraph
					button(type='button', data-type='image').btn.btn-primary Image
					button(type='button', data-type='video').btn.btn-primary Video
					button(type='button', data-type='tweet').btn.btn-primary Tweet
					button(type='button', data-type='quote').btn.btn-primary Quote
		section.col-md-3
			section
				section
					div
						span Published
					input(type="checkbox", name="my-checkbox", checked)
					div
						span Hide author?
					input(type="checkbox", name="my-checkbox", checked)
					div
						span Live event?
					input(type="checkbox", name="my-checkbox", checked)
				hr
				section
					h4 Revisions
					div.note there are no revisions for this article
		script $("[name='my-checkbox']").bootstrapSwitch({ onText:"Yes", offText:"No"});

