doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Myol
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css')
		link(rel='stylesheet', href='/components/bootstrap-wysihtml5/lib/css/wysiwyg-color.css')
		link(rel='stylesheet', href='/components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
		//link(rel='stylesheet', href='/bootstrap-switch/dist/css/bootstrap/bootstrap-switch.min.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/secret.css')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/js/thaana.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		script(src='/components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
		script(src='/components/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js')
		script(src='/components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js')
		script(src='/secret-templates.js')
		script(src='/js/secret.js')
		//script(src='/bootstrap-switch/dist/js/bootstrap-switch.min.js')
		//script setTimeout(function(){window.location = window.location},1000);
		style *{font-family:"Sans-serif"}
	body
		header
			section.container
				section.pull-left
					a(href='/auth/facebook') ލޮގިން
				h1 cniawlcnoa iawm 

				ul.menu.list-inline.list-unstyled.en
					-each menu,key in menus
						li
							a(href="/secret/"+key)=key
		section.container
			block body