extends secret-layout

block body
	section.row#content
		section.col-md-3#sub-menu
			h3 Users
			ul.list-unstyled
				li
					a(href='') Staffs
				li
					a(href='') Users

		section.col-md-6
		section.col-md-3
