news-el()
	width 100%
	color white
	position absolute
	bottom 0 
	background rgba(0,0,0,.91)
	padding 10px 4px
	margin-bottom 0
	line-height 30px

.dv
	*
		direction rtl
		font-family: 'Faseyha'

p
	font-size 20px
	margin 16px 0px 17px
.en
	*
		direction: ltr;
		font-family "Sans serif"
		text-align left
	p
		font-size 15px
header
	background url('/header.jpg') 100%
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom 10px
	h1
		font-size: 40px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.1), 1px 1px 5px black;
		color: white;
	.menu
		//background rgba(0,0,0,.6)
		padding-right 0
		li
			padding 0
			a
				font-size: 12px;
				color: white;
				background rgba(0,0,0,.6)
				padding 12px 18px
				text-decoration none
				&:hover
					background rgba(255,255,255,.6)
					color black
	.menu-dv
		font-family: 'AammuFRasmyRegular'	
		font-size: 20px;		
		
.news-el
	text-decoration none !important
	display block
	overflow hidden
	position relative
	.label
		position absolute
	p
		margin-top 10px
		color black
		font-size 18px
.news-el-1
	height 305px
	h3
		news-el()		
.news-el-2
	height 150px
	margin-bottom 5px
	h3
		news-el()
		position absolute
		font-size 15px
		line-height 20px		
	img
		//height 200px
		width 100%
.news-el-3
	h3
		position: inherit;
		line-height: 37px;
		font-size: 25px;
.news-el-brk
	h1
		font-size: 67px;
		text-align: center;
		font-family: 'Faseyha';
		font-weight: bold;
	img
		width 100%
.advertisement
	background #f0f0f0
	.adcapt
		padding 10px
.ad-1
	height 305px

@font-face 
	font-family: 'AammuFRasmyRegular'
	src: url('/fonts/aafrasmy.eot')
	src: url('/fonts/aafrasmy.eot') format('embedded-opentype'), url('/fonts/aafrasmy.woff') format('woff'),url('/fonts/aafrasmy.ttf') format('truetype'), url('/fonts/aafrasmy.svg#AammuFRasmyRegular') format('svg')
@font-face
	font-family:"Faseyha";
	src: url('/fonts/MV_Faseyha.otf') format("opentype");

.circle
	margin: 0 auto;
	width: 200px;
	height: 200px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #4679BD;

.article-quick-updates
	padding-right 0
.full-scale
	width 100%
.comment-user-name
	font-family "Open Sans"
.comment-body
	p
		font-size 17px
.comment-body.en
	p
		font-size 15px
.comment-user-img
	width 35px

.sub-comment
	margin-right 5%
	border-right solid 2px #f0f0f0
	padding-right 20px
