header {
  margin-bottom: 0;
}
#sub-menu {
  background: #222;
  min-height: 600px;
  padding: 0;
}
#sub-menu h3 {
  color: #fff;
  padding: 10px;
}
#sub-menu li a {
  display: block;
  background: #333;
  padding: 5px 10px;
  color: #c0c0c0;
}
#sub-menu li a:hover {
  background: #666;
}
#content {
  border: solid 1px #f0f0f0;
  min-height: 600px;
}
.article-section {
  margin-bottom: 10px;
  padding: 10px;
  background: #f0f0f0;
}
.article-section textarea {
  width: 100%;
}
.article-section[data-type*="paragraph-dv"] textarea {
  font-size: 20px;
}
