extends article-box

block content
	-var rand = "___aid" + ~~(Math.random()*1000000)
	section(type='article-tweet', id=rand)
		input(type='text', placeholder='URL of the tweet').form-control.article-tweet
		section.tweet-display
