extends article-box

block content
	-var rand = "___aid" + ~~(Math.random()*1000000)
	section(type='article-paragraph', id=rand)
		textarea.form-control.thaana
	script $(function(){$("##{rand} textarea").thaana();})
